body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color: hsl(0, 19%, 91%);
}
h1{
    text-align: center;
    color: #271010;
}

form{
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(0, 0%, 4%0%, 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label,
input{
    display:block;
    margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"]{
    width:100%;
    padding:10px;
    border: none;
    border-radius:5px;
    background-color:rgb(38, 115, 231);
    color:#f8f4f4;
    cursor:pointer;
}
    input[type="submit"]:hover{
        background-color:rgb(38, 115, 231);
    }
